bin/
obj/
artifacts/
.vs/
.vscode/
*.user
*.suo

appsettings.Development.json
firebase-service-account.json
**/firebase-service-account.json
wwwroot/uploads/
App_Data/DataProtectionKeys/
*.pfx
*.key
*.pem
